/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:300,400,500');
html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: antiquewhite;}

button {
  font-size: 12px;
  border-radius: 2px;
}

button[mat-fab] {
 background-color: #008CBA;
 color: white !important;
}
mat-toolbar {
 background-color: #008CBA;
 color: white !important;
}